.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;   
  align-items: center;
  padding: 20px 0;
} 

form {
  background-color: #f7f7f7;      
  padding: 40px;
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form label {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #333;
}


form input,
form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

form textarea {
  resize: none;
  height: 130px;
}


.botones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.botones .enviar,
.botones .reset {
  padding: 12px 28px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease;
}

.botones .enviar {
  background-color: black;
  color: white;
}

.botones .enviar:hover {
  background-color: #333;
}

.botones .reset {
  background-color: #e2e2e2;
}

.botones .reset:hover {
  background-color: #cfcfcf;
}

.obra-seleccionada {

    margin: 10px 0 25px 0;   
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
    font-weight: 500;
  }
  