
   .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    background-color: #e0e0e0;

  }
  
  .navbar-fixed h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 800;
    margin: 0;
  
  }
  
  

  .nav-desktop ul {
    display: flex;
    gap: 25px;
    list-style: none;
  }
  
  .nav-desktop ul li a {
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    font-family: "Raleway", sans-serif;
    color: white;
  }
  
  .nav-desktop ul li a:hover {
    opacity: 0.7;
  }
 
  @media (max-width: 768px) {
    .navbar-fixed {
      flex-direction: column;
      align-items: center;
      padding: 15px 20px;
      gap: 15px;
    }
  
    .navbar-fixed h1 {
      font-size: 18px;
      text-align: center;
    }
  
    .nav-desktop ul {
      flex-direction: column;
      gap: 12px;
      align-items: center;
      padding: 0;
    }
  
    .nav-desktop ul li a {
      font-size: 16px;
    }
  
    main {
      padding-top: 180px;   
    }
  }
  

