
.historia {
    display: flex;
    gap: 20px;                   
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    font-family: 'Raleway', serif; 
  }
  

  
    .columna-name {
        flex: 0 0 180px;  

      }
  
  .columna-name ul {
    list-style: none; 
    padding: 0;
    margin-top: 80px;
  }
  
  .minombre {
    font-weight: bold;
    font-size: 3rem;   
    margin-bottom: 10px;
  }


  .columna-name li:last-child {
    font-size: 1.5rem;
    color: #555;
    font-weight: 200; 

  }
 
  .columna-p {
    flex: 0 0 33%; 
  }
  
  .columna-p p {
    line-height: 1.6;
    font-size: 1.1rem; 
    margin-bottom: 15px; 
    color: #333;
  }
  

  
  .columna-img img {
    width: 90%;       
    max-width: 400px; 
    height: auto;      
    display: block;
  }
  @media (max-width: 768px) {
    .nosotros-container {
      flex-direction: column;
      padding: 20px;
      text-align: center;
    }
  
    .nosotros-container img {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  
    .nosotros-container p {
      font-size: 15px;
      line-height: 1.6;
    }
  }
  