
main {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  
  main h2 {
    margin: 20px;
    text-align: center;
  }
  

  .introduction {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #555;
    margin: 30px 0;
  }
  

  .container-img-gproyecto {
    display: grid;
    gap: 20px;
    padding: 30px;
  }
  
  .container-tamaños {
    grid-template-columns: repeat(2, 1fr); 
  }
 


 .container-tamaños img {
        width: 100%;
        height: 700px;      
        object-fit: cover; 
 }

  
  
  
  .container-alone {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .container-alone img {
    width: 80%;          
    max-width: 800px;    
    height: auto;     
    object-fit: cover;   

  }
  