.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 40px;
    width: 100%;
    justify-items: center;
    margin: 20px 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


.card img {
    width: 100%;
    height: 350px;
    border-radius: 4px;
    object-fit: cover;
}

.card .mandar {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    padding: 8px 15px;

    background-color: lightgrey;
    color: white;

    border-radius: 5px;
    text-decoration: none;

    font-weight: bold;
    font-family: "Raleway", sans-serif;

    cursor: pointer;
    transition: all 0.3s ease;
}

.card .mandar:hover {
    background-color: grey;
    transform: translateY(-2px);
}

.card .mandar:visited {
    color: white;
}


.card-name {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #555;
    font-weight: 200;
}

.titulo {
    font-family: "Raleway", serif;
    margin: 20px;
    text-align: center;
}
