.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 20px 40px; 
    width: 100%;
    justify-items: center; 
    margin-bottom: 20px;
    margin-top: 20px;
  
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
}

.card img {
    width: 100%;
    height: 350px;
    border-radius: 4px;
}

.card .mandar {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    font-weight: bolder;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card .mandar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}



.card .mandar:hover {
    background-color: grey  ;
    transform: translateY(-2px); /* efecto sutil al pasar el cursor */
}



.card-name {
    font-family: 'Raleway', sans-serif; 
    font-size: 15px;
    color: #555;
    font-weight: 200; 
}

.titulo {
    font-family: 'Raleway', serif; 
    margin: 20px;
    text-align: center;
}